h1,h2,h3,h4,h5,h6 {
    color: $base1; 
    border-color: $base0; 
}

#window{
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    /*-webkit-transition:all 0.5s; */
    background: rgba(0, 43, 54, 0.82);
    border-radius: 5px;
    height: 620px;
    margin-bottom:40px;
    margin-top:40px;
    max-width: 900px;
    overflow: hidden; 
    width: 90%;
}

header p {
    font-weight: bold;
}
.prompt-username {
    color: $green;
    font-weight: bold;
}

.prompt-domain {
    color: $blue;
    font-weight: bold;
}

.prompt-pwd {
    color: $yellow;
    font-weight: bold;
}

#welcome-logo {
    white-space: pre;
    font-size: $small-font-size;
    line-height: $global-lineheight;
}

#welcome-message {
    color: $red;
}

a, a:active, a:visited {
    color: $base1; 
}

/*
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
/* light is default mode, so pair with general html definition */
/*
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
*/