body {
    //    background-color: #d2dfe6;
    background-image: url('https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header p {
    font-weight: bold;
}

.prompt-username {
    color: $green;
    font-weight: bold;
}

.prompt-domain {
    color: $blue;
    font-weight: bold;
}

.prompt-pwd {
    color: $yellow;
    font-weight: bold;
}

#welcome-logo {
    white-space: pre;
    font-size: $small-font-size;
    line-height: $global-lineheight;
}

#welcome-message {
    color: $red;
}

a,
a:active,
a:visited {
    color: $base1;
}